@import '~@/assets/scss/common.scss';

.exchange {
    @include screen-cover;
    .container {
        width: 100%;height: 720px;
        border-radius: 24px 24px 0 0;
        background: #fff;
        position: absolute;
        left: 0;bottom: 0;;padding:0 30px 30px;
        .t {
            @include c-nav-bar;
            .close {
                @include close-btn;
            }
        }

        .change-list {
            width: 100%;height: 390px;overflow: auto;position: relative;
            .l-item {
                width: 330px ; height: 100px;margin-bottom: 30px;
                margin-right: 30px;float: left;border: 1px solid #E5E5E5;
                border-radius: 16px;
                text-align: center;
                position: relative;
                div { display: inline-block;}
                &:nth-child( 2n ) {
                    margin-right: 0px;
                }
                .icon {width:48px;height: 52px; 
                    background: url('~@/assets/img/shop/brightness.png') center center no-repeat;
                    background-size: 40px 46px;margin-top: 20px;
                }
                .price {font-size: 52px;font-weight: 900;margin-right: 10px;}
                .unit {font-size: 28px;}
            }
            .active {
                background: url('~@/assets/img/shop/select.png') left bottom no-repeat;
                background-size: 45px 37px;
            }
        }
        .l-line {background: #EEEEEE; width: 100%;height: 1px;margin-bottom: 18px;}
        .l-has {font-size: 24px;
            color: #9F9FA3;}
        .l-btn {
            width: 100%;height: 88px;line-height: 88px;
            background-image: linear-gradient(134deg, #7C77E2 3%, #A16DD7 100%);
            border-radius: 44px;
            text-align: center;font-size: 28px;
            color: #FFFFFF;
            margin-top: 42px;
        }
    }
}